{% include 'mock_run_head.html' %}
<script>window.CITIZEN_MOCK_SUITE = true; window.CITIZEN_MOCK_EXAM_LAYOUT = true;</script>
{% if initial_mock_test is defined and initial_mock_test %}
<script>window.CITIZEN_MOCK_INITIAL_TEST = {{ initial_mock_test|int }};</script>
{% endif %}
</head>
{% include 'mock_exam_standalone.html' %}
{% include 'subscription_modal.html' %}
{% set hide_help_fab = true %}
{% include 'scripts.html' %}
{% include '_modern_site_topbar_scripts.html' %}
{% include 'closing_tags.html' %}
